nextflow.enable.dsl=2

params {
  /* Mandatory arguments */
  ncbi_taxon_id = false // Zika 64320
  // virus_name = false // Only seems to work with SARS-CoV-2
  virus_variation = false 

  /* Optional parameter arguments */
  transform_fieldmap='collected=date submitted=date_submitted genbank_accession=accession submitting_organization=institution'
  transform_strain_regex='^.+\$'  // Escape dollar signs in regex to bypass Nextflow interpolation
  transform_strain_backup_fields='accession'
  transform_date_fields='date date_submitted updated'
  transform_expected_date_formats='%Y %Y-%m %Y-%m-%d %Y-%m-%dT%H:%M:%SZ'
  transform_titlecase_fields='region country division location'
  transform_articles='and d de del des di do en l la las le los nad of op sur the y'
  transform_abbreviations='USA'
  transform_author_field='authors'
  transform_author_default_value='?'
  transform_abbr_authors_field='abbr_authors'
  transform_annotations='https://raw.githubusercontent.com/nextstrain/ebola/ingest/ingest/source-data/annotations.tsv' // Should really pass in a file directly
  transform_annotations_id='accession'
  transform_metadata_columns='accession genbank_accession_rev strain strain_s viruslineage_ids date updated region country division location host date_submitted sra_accession abbr_authors reverse authors institution title publications'
  transform_id_field='accession'
  transform_sequence_field='sequence'
  
  ncbi_dataset_fields_to_include='accession,sourcedb,sra-accs,isolate-lineage,geo-region,geo-location,isolate-collection-date,release-date,update-date,virus-pangolin,length,host-common-name,isolate-lineage-source,biosample-acc,submitter-names,submitter-affiliation,submitter-country'

  /* Optional arguments */
  help = false

  outdir = "data"


  /* Slurm */
  queueSize = 12
  account = false
  threads = 40
  clusterOptions = false /* this will completely overwrite the above options */
  check_software = false
}

env {
  transform_fieldmap = "$params.transform_fieldmap"
  transform_strain_regex = "$params.transform_strain_regex"
  transform_strain_backup_fields = params.virus_variation ? "Isolate Lineage, Accession" :"$params.transform_strain_backup_fields"
  transform_date_fields = "$params.transform_date_fields"
  transform_expected_date_formats = "$params.transform_expected_date_formats"
  transform_titlecase_fields = "$params.transform_titlecase_fields"
  transform_articles = "$params.transform_articles"
  transform_abbreviations = "$params.transform_abbreviations"
  transform_author_field =  params.virus_variation ? "$params.transform_author_field" : "Submitter Names"
  transform_author_default_value = "$params.transform_author_default_value"
  transform_abbr_authors_field = "$params.transform_abbr_authors_field"
  transform_annotations = "$params.transform_annotations"
  transform_annotations_id = "$params.transform_annotations_id"
  transform_metadata_columns = "$params.transform_metadata_columns"
  transform_id_field = "$params.transform_id_field"
  transform_sequence_field = "$params.transform_sequence_field"
}

profiles {
  standard {
    includeConfig 'configs/publishdir.config'
  }
  docker {
    includeConfig 'configs/publishdir.config'
    includeConfig 'configs/containers.config'
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g) --platform linux/amd64'
  }
  singularity {
    includeConfig 'configs/publishdir.config'
    includeConfig 'configs/containers.config'
    singularity.enabled = true
    singularity.autoMounts = true
  }
}