process {
  container = "nextstrain/ncov-ingest:latest"
  
  withName: post_process_metadata {
    container = "amancevice/pandas"
  }
  withName: fetch_ncbi_dataset_package {
    container = "staphb/ncbi-datasets:latest"
  }
  withName: format_ncbi_dataset_report {
    container = "staphb/ncbi-datasets:latest"
  }
}